<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rendering Assets with Express.js</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header>
      <h1>Rendering Assets with Express.js</h1>
      <nav>
        <a href="/gallery">Gallery</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
        <a href="/user">User</a>
        <a href="/products">Product</a>
      </nav>
    </header>
    <main>
      <section>
        <h2>Overview</h2>
        <p>
          Express.js is a versatile framework for Node.js, enabling the dynamic
          rendering of assets such as HTML, CSS, and JavaScript.
        </p>
      </section>
      <section>
        <h2>HTML</h2>
        <p>
          Express.js facilitates dynamic HTML content rendering by supporting
          various template engines like EJS, Handlebars, Pug, or Mustache.
        </p>
      </section>
      <section class="card-container">
        <h2>Benefits</h2>
        <div class="card">
          <h3>Fast Development</h3>
          <p>
            Express.js allows for rapid development with minimal configuration.
          </p>
        </div>
        <div class="card">
          <h3>Middleware Support</h3>
          <p>Built-in middleware support simplifies request handling.</p>
        </div>
        <div class="card">
          <h3>Flexibility</h3>
          <p>Highly flexible for building various types of web applications.</p>
        </div>
      </section>
      <section>
        <h2>CSS and JavaScript</h2>
        <p>
          You can serve static CSS and JavaScript files with Express.js using
          the <code>express.static</code> middleware, enhancing the performance
          and styling of your web pages.
        </p>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 ManthuRocks</p>
    </footer>
    <script src="../js/script.js"></script>
  </body>
</html>
